*.pyc
*.autosave
*.vscode
*.swp
*.sqlite3
*.mypy_cache
*.egg-info
dist
__pycache__
*~
.directory
*.log
.coverage
.idea
main/settings_local.py
log
pic
README-ignore.md
log.txt
doc-ignored
tmp
tags
*.~lock*
test.test
data
out
examples
